.container {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background-color: #242b2e;
}
.to-do-list-card h1 {
  font-size: 42px;
  padding: 12px 120px;
  text-transform: capitalize;
  color: #fbc2eb;
  text-shadow: 7px 1px 6px red;
}
.to-do-list-card hr {
  background: white;
  background: linear-gradient(
    to right,
    rgba(59, 29, 29, 0.15) 0%,
    rgba(0, 0, 0, 0.15) 100%
  );

  background-blend-mode: multiply, multiply;
  border: none;
  height: 1px;
}

.to-do-list-card .input,
.to-do-list-card {
  display: flex;
}

.to-do-list-card {
  width: auto;
  height: 85%;
  max-width: 422px;
  max-height: 100vh;
  border-radius: 10px;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  flex-direction: column;
  box-shadow: 9px 11px 20px 0 #000;
}
.to-do-list-card .input {
  padding: 0 12px;
  justify-content: space-between;
  align-items: center;
}
.to-do-list-card .input input[type="text"]:focus {
  outline: none;
  background-color: #242b2e;
  color: #fff;
}

.to-do-list-card .input input[type="text"] {
  border: none;
  background-color: #fff;
  width: 80%;
  height: auto;
  outline: none;
  border-radius: 10px;
  padding: 8px 8px;
  font-size: 12px;
  text-transform: capitalize;
}

.to-do-list-card .input button {
  border: none;
  font-size: 24px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #758283;
  color: #fff;
  cursor: pointer;
}

.to-do-list-card .input button:hover {
  background-color: #ff6263;
}

.container .to-do-list {
  max-height: 68%;
  overflow-y: auto;
}
.container .to-do-list::-webkit-scrollbar {
  width: 12px;
}
.container .to-do-list::-webkit-scrollbar-track {
  background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
  border-radius: 6px;
}
.container .to-do-list::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-image: linear-gradient(to top, #30277d 0%, #11e871 100%);
}
